body {
  color: #343232;
  background-color: FFF2F9;
  font-family: "Lexend", sans-serif;
  background-color: #faf9f8;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------------------------------header------------------------------------------------ */
header {
  background-color: #53424b;
  position: fixed;
  top: 0;
  left: 0;
  height: 11.25rem;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
}

.nav__logo {
  padding-right: 0.5rem;
  width: 60%;
}

.nav__enlaces-list {
  display: flex;
  list-style: none;
  margin: 1rem;
  justify-content: space-between;
}

.nav__enlaces {
  display: flex;
  align-items: center;
}

.nav__enlace {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.25rem;
  color: #fff2f9;
  padding-left: 1rem;
}

.nav__enlace:hover {
  text-decoration: underline;
}

.novedades {
  background-color: #baa6b1;
  color: #422735;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1rem;
  height: 2rem;
}

.novedad {
  margin: 0;
  color: #fff2f9;
}

.novedades button {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  background-image: linear-gradient(
    to left,
    #ffd3eb,
    #f2cae0,
    #e5c2d5,
    #d8b9ca,
    #cbb1bf,
    #bca4b1,
    #ad98a3,
    #9f8c96,
    #8b7982,
    #78666f,
    #65545d,
    #53424b
  );
  font-weight: 400;
  font-size: 1.25rem;
  width: 100%;
}

.novedades button:hover {
  .novedad {
    color: #53424b;
  }
}

/* ---------------------------------header responsive------------------- */
@media (max-width: 768px) {
  nav {
    padding: 0.5rem;
  }
  .nav__enlaces-list {
    flex-direction: column;
    width: 40vw;
    padding: 0rem;
  }
  .nav__enlaces {
    margin-right: 0px;
  }

  .nav__enlace {
    font-size: 1.1rem;
  }
  .novedad {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) {
  .nav {
    padding: 1rem 5rem 1rem 5rem;
  }
}

/* ---------------------------------------------------------main--------------------------------------------------------------------------------------- */
main {
  background-color: #fff2f9;
  padding-top: 11.25rem;
}

.main__content,
.footer-content {
  padding: 1.5rem;
}

main h2 {
  margin: 1rem 2rem 1rem 2rem;
  padding: 0rem 2rem 0rem 2rem;
}

.main__section {
  padding: 0.5rem 0;
}

.main__section p {
  padding: 0 2rem 0 2rem;
  margin: 0 2rem 0 2rem;
}

.section__1 p {
  margin: 0;
}

.section__2,
.section__4 {
  background-color: #f6eee5;
  padding-bottom: 2rem;
  border-radius: 4rem 0 4rem 0;
}

.section__4 {
  background-color: #eddccb;
}

.section__3,
.section__5 {
  background-color: #ffd3eb;
  padding-bottom: 2rem;
  border-radius: 0 4rem 0 4rem;
  margin-top: 1rem;
}

.section__4 {
  background-color: #baa6b1;
  color: #422735;
  border-radius: 4rem 0 4rem 0;
  margin-top: 1rem;
  padding-bottom: 2rem;
}

.container {
  display: flex;
  margin: 1rem;
}

.container_1 {
  display: flex;
  flex-direction: row;
  margin: 0;
  height: 70vh;
  padding: 0rem 1rem 1rem 1rem;
}

.container_2 {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0;
  padding: 1rem 0.5rem 1rem 1rem;
}

.container_3 {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  padding: 0rem 0.5rem 0rem 0.5rem;
  margin: 1rem 0rem;
}

.container_contacto {
  display: flex;
  flex-direction: row;
  margin: 0;

  padding: 0rem 1rem 1rem 1rem;
}

.container_2_1 {
  height: 60%;
  flex: 1;
  box-sizing: border-box;
  padding: 0 0 0.5rem 0;
  margin: 0;
}

.container {
  overflow: hidden;
}

.container a {
  width: 100%;
}

.container_2_1 img,
.container_2_2 img,
.container_2_2_1 img,
.container_2_2_2 img,
.container_3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
  transition: transform 0.3s ease-in-out;
}

.container_2_1 img:hover,
.container_2_2 img:hover,
.container_2_2_1 img:hover,
.container_2_2_2 img:hover,
.container_3 img:hover {
  transform: scale(1.1);
}

.container_2_2 {
  display: flex;
  flex-direction: row;
  height: 40%;
  flex: 1;
  box-sizing: border-box;
  padding: 0.5rem 0rem 0rem 0rem;
  margin: 0;
}
.container_2_2_1 {
  flex: 1;
  margin: 0 0.5rem 0 0;
  box-sizing: border-box;
}

.container_2_2_2 {
  flex: 1;
  margin: 0 0 0 0.5rem;
  box-sizing: border-box;
}

.container_3_1 {
  flex: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
}
.container_2_2_1 img,
.container_2_2_2 img,
.container_3_1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

/* ---------------------------------responsive------------------- */

/* Responsive Styles */
@media (max-width: 768px) {
  .container_1 {
    flex-direction: column;
    height: auto;
  }
  .container_3_1 img {
    aspect-ratio: 16/9;
  }
  .container_2,
  .container_3 {
    width: 100%;
    padding: 1rem 0;
  }

  .container_3_1 {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .container_2_1,
  .container_2_2,
  .container_2_2_1,
  .container_2_2_2 {
    height: auto;
    margin: 0;
  }

  .container_2_2 {
    flex-direction: column;
    gap: 1rem;
  }

  .container_3 {
    margin: 0rem 0rem;
    padding: 0rem 0;
  }
}
/* ----------------------main tamaños grandes------------------ */

@media (min-width: 1200px) {
  .main__content,
  .footer-content {
    padding: 1.5rem 5rem 1.5rem 5rem;
  }
}

/* ---------------------------------------------------------footer------------------------ */
footer {
  background-image: linear-gradient(
    to left,
    #53424b,
    /* Oscuro a la izquierda */ #7b6370,
    #a58797,
    #d1acc0,
    #ffd3eb /* Claro a la derecha */
  );
}

/* 
no se de donde viene  */

.item {
  width: 100px;
  height: 100px;
  background-color: white;
  border: solid;
  margin: 3px;
}

/* ---------------------------productos---------------------------------- */

.section__1 p {
  margin-bottom: 0.5rem;
}

.section__productos {
  gap: 8px;
  padding: 0.5rem 2rem 2rem 2rem;
}
.tabla__productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}

.producto {
  flex: 1 1 calc(30% - 1rem);
  max-width: calc(30% - 1rem);
  text-align: center;
  background-color: #fff2f9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(83, 66, 75, 0.5);
}

.producto:hover {
  background-color: rgba(255, 255, 255, 1);
}

.producto p {
  font: size 0.85rem;
  color: #422735;
  margin: 0 0.25rem 0.25rem 0.25rem;
}

.producto img {
  width: 80%;
  height: 16rem;
  border-radius: 0.5rem;
  object-fit: cover;
  aspect-ratio: 9/9;
}

@media (max-width: 1024px) {
  .producto {
    flex: 1 1 calc(45% - 1rem);
    max-width: calc(45% - 1rem);
  }
}
@media (max-width: 768px) {
  .producto {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

/* ------------------------------------footer----------------------------- */

footer {
  color: #53424b;
}

footer__content {
  margin: 1rem 0 1rem 0;
}
footer h4 {
  margin: 0;
}
footer a {
  color: #422735;
}

footer {
  line-height: 150%;
}

@media (max-width: 768px) {
  footer {
    font-size: 0.825rem;
  }
}

/* --------------------------pagina de contacto -------------------- */

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  padding: 0 5rem;
}

.form-group label {
  margin-bottom: 0.75rem;
  font-size: 14px;
}

input,
textarea {
  padding: 1rem;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-top: 0.5rem;
}

textarea {
  resize: vertical;
  margin-bottom: 1rem;
}

.form-group button {
  background-color: #baa6b1;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  color: #53424b;
}
.form-group button:hover {
  background-color: #ffd3eb;
}

/*  ------------------reseñas -------------------------- */
.section-grid {
  width: 100%;

  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.resenias {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  line-height: 1.4;
}

/*  -----------------------------responsive---------------------  */

@media (max-width: 1024px) {
  .section-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}

@media (max-width: 768px) {
  .section-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
